
.image-of-the-education-provider{

  object-fit: contain;
  width: 100%;
  height: 200px;

  //max-width: 300px;
  //max-height: 300px;
  ////min-width: 200px;
  ////width: 100%;
  ////height: 100%;
  ////height:300px;
  ////width: 300px;
  //object-fit: cover;
}

.education-duration{
  border-left: 0.2rem solid yellowgreen;
}

.education-records-section{
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  //border-bottom: 1px solid #ccc;
}
