<div class="container-fluid project-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-12 project-description">
      <h2>{{project.name}}</h2>
      <p>{{project.description}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-12">
      <img class="project-image" src="{{project.imagePath}}" alt="Screenshot of {{project.name}}">
    </div>
  </div>
  <div class="row" *ngIf="project.techStack.length > 0">
    <div class="col tech-stack">
      <h3>Tech stack</h3>
      <div class="tech-stack-container">
        <div *ngFor="let techItem of project.techStack">
          <p class="badge">{{techItem}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col links-section">
      <h3>Links</h3>
      <div class="links-container">
        <i *ngIf="project.frontendSourceCode.trim() !== ''" class="bi bi-github project-links"
           title="Source code of the front-end application"></i>
        <i *ngIf="project.backendSourceCode.trim() !== ''" class="bi bi-github project-links"
           title="Source code of the backend-end application"></i>
      </div>
    </div>
  </div>
</div>
