<div class="container-fluid project-container">
  <div class="row">
    <div class="col project-description">
      <h2>Tourism Management System</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt dignissimos distinctio dolore eveniet
        impedit saepe sunt voluptatem. Alias aspernatur dicta eveniet laudantium neque quaerat qui reprehenderit sit
        tempore unde! Aliquam atque beatae, deserunt eaque fugiat, fugit incidunt molestiae nesciunt obcaecati possimus
        praesentium quia repudiandae rerum sit soluta temporibus veniam. Ab delectus dicta hic in ipsam ratione tempore!
        Distinctio, qui? Accusamus commodi dolore et facilis inventore omnis optio unde. Eligendi id, vitae! A accusamus
        adipisci aut dolor dolores, eum incidunt, iure nobis non perspiciatis quisquam sapiente sed tempora ullam
        voluptatum?Accusamus aspernatur deleniti ea iusto minus quisquam tempora ullam? Blanditiis consequatur
        cupiditate, error impedit magni optio reprehenderit suscipit voluptatibus. Excepturi minima quas repudiandae
        sunt! Autem commodi fugiat illum molestias voluptate. Cupiditate debitis eius fugit illum molestias
        necessitatibus praesentium sed sint. Ab aut doloremque ex explicabo id laborum libero molestias neque nesciunt
        possimus repellendus, sapiente similique sint ut voluptas. Atque, minus!</p>
    </div>
    <div class="col">
      <img class="project-image" src="/assets/images/projects/tms.PNG" alt="Screenshot of Tourism Management System">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Tech stack</h3>
      <fa-icon [icon]="faAngular" size="3x"></fa-icon>
      <!--      <p>Angular, TypeScript</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Links</h3>
      <i class="bi bi-github project-links"></i>
    </div>
  </div>
</div>
