.project-container {
  //height: 100vh;
  min-height: 80vh;
  //background-color: lightcoral;
  padding: 2rem;

  & .project-description > p {
    text-align: justify;
  }
}

.tech-stack{

  & .tech-stack-container{
    display: flex;
    column-gap: 0.5rem;
  }

  & .badge {
    background-color: limegreen;
    color: white;
  }
}

.project-image {
  width: 100%;
}

.project-links {
  font-size: 2rem;
}

.links-section{


  & .links-container{
    display: flex;
    column-gap: 0.5rem;
  }
}
