<div class="container py-2">
  <div class="row">
    <div class="col">
      <h1>Reflective Journal</h1>
    </div>
  </div>
  <div class="row">
    <p>This semester, I participated in the `Preparation for the Professional World - IT4070` module lectures. Since the
      lectures are conducted by scheduled Microsoft Teams meetings, all the co-students and lecturers were joined for
      the online discussion. </p>

    <p>Since I need to refresh on topics like how to write a business letter, emails, and memos, I was interested in
      participating in the lectures. However, I could not join the lectures as they happened since I work in a company.
      Although I managed to refer to the recorded lecture materials continuously.</p>

    <p>One of the essential things I learned from these sessions is how to format business letters and write a letter
      more efficiently. Before joining these lessons, I had done formatting and punctuation issues when writing emails.
      Since I had not written memos, I had little experience with when to use memos or how to write memos. When writing
      emails, I have not considered using a digital signature. I thought professional digital signatures were not
      something for private email users. Another relevant thing I learned from the sessions is the consideration of the
      tone when writing and how I express myself. During the class, we discussed these issues and corrected them by
      referring to examples.</p>

    <p>Regarding Interview Skills, leadership, and public speaking skills sessions, I have to get hands-on experiences
      in the future. After I referred to the conducted lectures, I thought of applying the tips I learned from the
      session, especially when writing to the lecturers at my university. I also created a professional signature and
      started using it when composing emails.</p>
  </div>

</div>
