<div class="container py-4">
  <div class="row aboutme">
    <div class="col">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <h1>About Me</h1>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col">-->
        <!--            <img class="about-me-image" src="/assets/images/Dhanusha/2.jpg" alt="Image of Dhanusha">-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="row">
          <div class="col">
            <img class="about-me-image" src="/assets/images/Dhanusha/2.jpg" alt="Image of Dhanusha">
          </div>
          <div class="col about-me-content">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolor doloribus, ea
              exercitationem
              fugiat in minima modi nostrum pariatur quam rerum saepe ut, veniam, vitae? Dolore eaque ipsa
              obcaecati.</p>
            <p>Autem cum, ex facilis iure laudantium natus pariatur ratione veritatis voluptate voluptatem. Aspernatur
              atque
              dicta dolores iure quam, sunt tempora. Repellendus, ut, voluptates! Consequuntur obcaecati placeat quidem
              quod
              voluptates voluptatibus?</p>
            <p>Aut corporis debitis dicta, dolor doloribus error impedit laboriosam maiores officia optio perferendis
              porro
              possimus provident, quidem quo recusandae tempora, veniam vero. Ducimus qui reiciendis soluta. Doloribus
              dolorum
              esse explicabo.</p>
            <p>Aliquam aperiam dignissimos ea et harum, maxime nam pariatur quae rerum sit. Architecto doloribus
              excepturi
              impedit incidunt laudantium molestias nesciunt, nihil quae, quisquam rem sint soluta! Ab necessitatibus
              sit
              ut!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolor doloribus, ea
              exercitationem
              fugiat in minima modi nostrum pariatur quam rerum saepe ut, veniam, vitae? Dolore eaque ipsa
              obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


