<div class="container py-4">
  <div class="row aboutme">
    <div class="col">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <h1>About Me</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 py-sm-4 col-md-12 col-lg-6 py-md-0 col-12 about-me-content">
            <p>I consider myself a creative thinker and mostly logical person who tries to solve problems with minimum
              effort (Keep It Simple and Smart).</p>
            
            <p>I am an undergraduate: software engineering student currently studying in the 4th year 2nd semester. I
              tend
              to work with emerging technologies in the industry. I fell in love with the computer, gaming, and
              programming during my school time. I always enjoy using technology and getting up to date with the latest
              technologies.</p>

            <p>I wanted to contribute my work to the IT field. I like to solve problems smartly and solve problems with
              suitable technologies. I got my hands dirty with the technologies that scale from the server-side to the
              client-side. I am passionate about developing solutions and making people's life easier.
              I am keen to develop programming and application skills, so I have completed six months of the Industrial
              Training Program (Direct Entry Programme) at IJSE (Panadura).</p>

            <p>I work hard to develop projects and software solutions to improve the family businesses in my leisure
              time.
              I collaborate with my cousins and relatives to improve the businesses by applying what I learned, and
              providing IT solutions. I also like to learn new things and have working experiences. I learned a lot
              working in the internship and experienced working as a team to complete objectives successfully.</p>

            <p>Besides working, I like to play football, stay healthy, and do fashion. I also got selected for the first
              stage selections for the Sri Lanka national football team. I always like to stay motivated, working on my
              dreams. My idol is Cristiano Ronaldo, and he motivates me to become the best version of myself.</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-12">
            <img class="about-me-image" src="/assets/images/Dhanusha/2.jpg" alt="Image of Dhanusha">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


