//:host {
//  background-color: lightblue;
//  height: 100vh;
//}

.aboutme {
  height: 100vh;
}

.about-me-image {
  width: 100%;
}

.about-me-content {
  text-align: justify;
  text-justify: inter-word;
}
