.experience{

}

.image-of-the-employee{
  width: 250px;
  //height: 200px;
}

.employment-duration{
  border-left: 1px solid yellowgreen;
}

.employment-records-section{
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  //border-bottom: 1px solid #ccc;
}
