.experience{

}

//.employee-image{
//  width: 100%;
//}

.image-of-the-employee{
  //padding: 0 2rem;
  max-width: 325px;
  min-width: 275px;
  width: 100%;
  //width: clamp(100%, 100%, 400px);
  //width: clamp(100%, 300px, 400px);
  //height: 200px;
}

//.experience-content, .employment-duration{
//  padding: 0 1rem;
//}

.employment-duration{
  border-left: 1px solid yellowgreen;
}

.employment-records-section{
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  //border-bottom: 1px solid #ccc;
}
