<div class="container-fluid p-0">
  <!-- Content here -->
  <app-navigation></app-navigation>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-5">
        <img class="dhanushas-image" src="/assets/images/Dhanusha/1.jpg" alt="Dhanusha's image">
      </div>
      <div class="col welcome-body">
        <div class="container">
          <h1>Hello there!</h1>
          <h2>I'm Dhanusha Perera.</h2>
          <hr>
          <div class="container-fluid p-0 accounts-container">
            <a href="https://github.com/DhanushaPerera07" target="_blank">
              <img alt="github logo" src="/assets/icons/icons8_github.ico">
            </a>
            <a href="https://www.linkedin.com/in/dhanushaperera07/" target="_blank">
              <img alt="linkedin logo" src="/assets/icons/icons8_linkedin_4.ico">
            </a>
            <a href="https://stackoverflow.com/users/12898581/dhanusha-perera07" target="_blank">
              <img alt="stack overflow logo" src="/assets/icons/icons8_stack_overflow.ico">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
