<div class="container">
  <h1>Projects</h1>
  <div class="container-fluid" *ngIf="projectList">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows">
      <ng-template *ngFor="let project of projectList" ngbSlide>
        <div class="picsum-img-wrapper">
          <app-project-holder [project]="project"></app-project-holder>
        </div>
        <div class="carousel-caption">
          <h3>{{project.name}}</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
