<div class="container py-4">
  <div class="row">
    <div class="col">
      <h1>Career Development Plan</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Current Position</th>
          <th scope="col">Destination</th>
          <th scope="col">Gap Analysis</th>
          <th scope="col">Plan/Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <ul>
              <li>I am facing final examination and completing the degree programme as a fourth-year undergraduate at
                SLIIT.
              </li>
              <li>I worked as an Associate Software Engineer for six months.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Next two months: Software Engineer.</li>
              <li>Next five years: Software Architect</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Industrial Training module result is still pending.</li>
              <li>I should complete the degree programme to apply for the role with a higher range of salary.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Refresh the knowledge by referring to online materials to prepare for the interview session.</li>
              <li>Complete the mock interview session for the `Preparation for the Professional World - IT4070` module.</li>
              <li>Complete the AWS course facilitated by SLIIT.</li>
              <li>Skills that need to work on the front-end side should be polished as a full-stack developer. That
                is why I need to spend more time on the front-end side of applications and inspire by the other UI/UX
                designers.
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
